.products-banner {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.products-banner img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: transform 0.6s ease, filter 0.6s ease;
}

.products-banner img:hover {
  transform: scale(1.03);
  filter: brightness(1.05);
}
@media (max-width: 768px) {
.home-one-provide-section {
  padding-top: 60px;
}
}
.mobile-get-in-touch {
    display: none;
}

@media (max-width: 991px) {
    .mobile-get-in-touch {
        display: block;
        margin: 20px auto; 
        padding: 15px;
        background-color: #ffbb5c; 
        color: #000;
        text-align: center;
        text-decoration: none;
        width: 90%;
        border-radius: 8px;
        font-weight: bold;
    }
}